.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.menuShoppingLists{
    order: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.menuShoppingList{
    margin-top: 25px;
    margin-left: 10px;

    background: rgba(160, 212, 212, 0.9);
    color: #339899;
    border: 2px #339899 solid;

    font-family: 'Comic sans Ms', Courier, monospace;
    border-radius: 500px;
}

.menuShoppingList a{
    text-decoration: none;
    color: inherit;
}

main{
    order:2;
    margin: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px #339899 dotted;
}