main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}



.menuCurrencies{
    order: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.menuCurrency{
    background: rgba(160, 212, 212, 1);
    color: #339899;
    border: 2px #339899 solid;

    font-family: 'Comic sans Ms', Courier, monospace;
    border-radius: 5px;
    margin-top: 10px;
}

.menuCurrency a{
    text-decoration: none;
    color: inherit;
}

main{
    order:2;
    margin: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75);
    border: 2px #339899 dotted;
}

.form{
    padding: 20px 200px;
    flex-grow: 1;
}

.form label, input{
    display: block;
}



.form-row{
    margin-bottom: 10px;
    color:  #339899;
}

.row-control{
    padding: 5px;
    width: 100%;
}

.buttons{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;

}
.buttons button{
    background: rgba(160, 212, 212, 1);
    color: #339899;
    border: 2px #339899 solid;
    border-radius: 500px;
    margin-left: 5%;

    font-family: 'Comic sans Ms', Courier, monospace;
}

.table-main {
    padding: 15px;
    color: #339899;
}
.table-header {
    text-align: center;
    background:#339899;
    color: white;

}

.table-header th{
    padding: 3px;
    border-radius: 5px;
}

.row-link{
    text-decoration: none;
    color: #339899;
}


